<%= form_with(model: user, class: "row g-3") do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h5><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h5>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <%= form.label :user_name, class: "form-label", style: "display: block" %>
    <%= form.text_field :user_name, class: "form-control", placeholder: "dreamcareer" %>
  </div>

  <div class="col-md-6">
    <%= form.label :password, class: "form-label", style: "display: block" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= form.label :email, class: "form-label", style: "display: block" %>
    <%= form.email_field :email, class: "form-control", placeholder: "dreamcareer@gmail.com" %>
  </div>

  <div class="col-md-6">
    <%= form.label :birthday, class: "form-label", style: "display: block" %>
    <%= form.date_field :birthday, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Save", class: "form-control btn btn-dark" %>
  </div>
<% end %>
